html {
    border: solid;
    margin: 60px;
    color: black;
    width: 90%;
    font-size: 20px;
    background-color: pink;
}

img {
    display: block;
    margin: 0 auto;
    width: 15%; 
}

h1 {
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

h2 {
    font-family: verdana;
    font-size: 200%;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    border-style: double;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

a {
    border: solid black;
    margin: 40px;
    color: blue;
    position: relative;
}

body {
    background-color: #fff;
    margin: 0px;
}
footer {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}

.university-link {
    display: block;
    margin: 0 auto; / Pour centrer l'élément */
    border: 1px solid #333;
    padding: 2px;
}